#puzzleContainer table {
    border-spacing: 0px;
    /* border: solid; */
    /* border-width: 1px; */
}
#puzzleContainer td {
    border: solid;
    border-width: 1px;
    width: 25px;
    height: 25px;
    text-align: center;
}
/* Get right of the top and left borders on the table */
#puzzleContainer table {
    border-top: none !important;
    border-left: none !important;
}
/* Get rid of the border on the first row */
#puzzleContainer table tr:first-child td{
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}
/* Get rid of borders on the first column */
#puzzleContainer table td:first-child{
    border-left: none;
    border-top: none;
    border-bottom: none;
}   
 
/* The most right column... */
#puzzleContainer table tr td:last-child{
    border-right-width: 2px !important;
}
/* The bottom row */
#puzzleContainer table tr:last-child td{
    border-bottom-width: 2px !important;
}


/* This is the first row of colClues */
/* #puzzleContainer table tr:first-child{ */
#puzzleContainer table tr .colClue{
    height: 100px;
    vertical-align:bottom;
    text-align: center;
}
/* This is the first column of rowClues */
/* #puzzleContainer table td:first-child{ */
#puzzleContainer table td.rowClue{
    width: 100px;
    text-align: right;
    padding-right: 10px;   
}
td.pixel.YES {
    background-color: black;
}
td.pixel.NO {
    background-color: grey;
}
td.clueCell.COMPLETE {
    background-color: lightblue;
}